# Supabase Public Variables (Used in Browser and Server clients)
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here

# PostgreSQL Connection Strings (Used for Prisma ORM)
DATABASE_URL=your_supabase_transaction_connection_string_here
DIRECT_URL=your_supabase_session_connection_string_here
